import React from 'react';
import styles from './{{pascalCase name}}.module.css';

interface {{pascalCase name}}Props {
  // Define your props here
}

export function {{pascalCase name}}(Props:{{pascalCase name}}Props) {
  return (
    <div className={styles.container}>
      {/* Your component code here */}
    </div>
  );
};

