.container {
  display: flex;
  width: 100%;
  background-color: blue;
}

.half {
  width: 50%;
  box-sizing: border-box;
}
.input {
  padding-right: 4.12rem;
}
:root {
  width: 100%;
  /* background-color: brown; */
}
